<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="initial-scale=1.0,user-scalable=yes" >
    <%= csrf_meta_tag %>
    <title><%= content_for?(:title) ? yield(:title) : 'Sooey' %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= render :partial => 'shared/feedburner' if AppConfig.feedburner['use'] %>
    <%= include_stylesheets :common %>
    <%= render :partial => 'shared/twitter_anywhere' if AppConfig.twitter_anywhere['use'] %>
  </head>

  <body>

    <div id="main">
      <%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

      <%= content_tag('div', link_to('Sign out', [ :destroy, current_user, :session ]), :class => 'sign-out') if current_user %>

      <header>
        <h1 id="logo" class="tk-daniel"><%= link_to 'Sooey', root_path %></h1>
      </header>

      <nav class="primary">
        <%= render :partial => 'shared/social' %>
        <%= render :partial => 'shared/google_custom_search' if AppConfig.google_custom_search['use'] %>
      </nav>

      <div id="content">
        <%= yield %>
      </div>

      <footer>
        <address><%= AppConfig.author['name'] %> &lt;<%= AppConfig.author['email'] %>&gt;</address>
        <p class="copyright">
          <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/80x15.png" /></a>
        </p>
      </footer>

      <div class="autopagerize_insert_before"></div>
    </div>

    <%= include_javascripts :common %>
    <%= render :partial => 'shared/google_analytics' if AppConfig.google_analytics['use'] %>
    <%= render :partial => 'shared/observer_app' if AppConfig.observer_app['use'] %>
    <%= render :partial => 'shared/typekit' if AppConfig.typekit['use'] %>
    <%= render :partial => 'shared/mixpanel' if AppConfig.mixpanel['use'] %>

  </body>
</html>
