<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Sooey' %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml">
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>

  <body>

    <div id="main">

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

      <header>
        <h1 id="logo"><%= link_to 'Sooey', root_path %></h1>
      </header>

      <%= link_to('Sign out', [ :destroy, current_user, :session ], :class => 'signOut') if current_user %>

      <section id="social">
        <ul>
          <li><a href="http://twitter.com/junya">twitter</a></li>
          <li><a href="http://facebook.com/junya.ogura">facebook</a></li>
          <li><a href="http://www.flickr.com/photos/sooey/">flickr</a></li>
        </ul>
      </section>

      <div id="content">
        <%= yield %>
      </div>

      <footer class="autopagerize_insert_before">
        <address>Junya Ogura &lt;junyaogura@gmail.com&gt;</address>
        <p class="copyright">
          <a rel="license" href="http://creativecommons.org/licenses/by-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nd/3.0/80x15.png" /></a>
        </p>
      </footer>

    </div>

    <script src="/javascripts/jquery.embedly.min.js"></script>

    <!-- rendered at <%= Time.now %> -->

  </body>
</html>
